head
  link(rel='stylesheet', href='../css/bootstrap.min.css')
  link(rel='stylesheet', href='../css/font-awesome.min.css')
  link(rel='stylesheet', href='../css/crypto-style.css')
body
  #modal-enter-master-password.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-enter-master-password(type='button',aria-hidden='true')&times;
          h4.modal-title Unlock key storage
        .modal-body
          form.form
            .form-group
              label Master Password
              input#input-entered-master-password.form-control(type='password')
        .modal-footer
          button.button-close-enter-master-password.btn Cancel
          button#button-confirm-enter-master-password.btn.btn-success 
            i.icon-ok
            | Unlock
  #modal-initialize-master-password.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-initialize-master-password(type='button',aria-hidden='true')&times;
          h4.modal-title Initialize Cryptochrome
        .modal-body
          form.form
            .form-group
              label Enter a Master Password
              input#input-initialized-master-password.form-control(type='password')
        .modal-footer
          button.button-close-initialize-master-password.btn Cancel
          button#button-confirm-initialize-master-password.btn.btn-success 
            i.icon-ok
            | Initialize
  #modal-add-public-key.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-add-public-key(type='button',aria-hidden='true')&times;
          h4.modal-title Adding a Public key
        .modal-body
          form.form
            .form-group
              label Master Password
              input#input-add-public-key-password.form-control(type='password')
            .form-group
              label Public key
              textarea#input-add-public-key-key.form-control(placeholder='paste key here', rows=10)
        .modal-footer
          button.button-close-add-public-key.btn Close
          button#button-submit-add-public-key.btn.btn-success 
            i.icon-ok
            | Add Public Key
  #modal-remove-public-key.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-remove-public-key(type='button',aria-hidden='true')&times;
          h4.modal-title Removing a Public key
        .modal-body
          #public-key-to-remove
          form.form
            .form-group
              label Master Password
              input#input-remove-public-key-password.form-control(type='password')
              input#public-key-to-remove-index(type='hidden')
        .modal-footer
          button.button-close-remove-public-key.btn Close
          button#button-remove-public-key.btn.btn-danger(type='button')
            i.icon-trash
            |  Remove Public Key
  #modal-remove-private-key.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-remove-private-key(type='button',aria-hidden='true')&times;
          h4.modal-title Removing a Private key
        .modal-body
          #private-key-to-remove
          form.form
            .form-group
              label Master Password
              input#input-remove-private-key-password.form-control(type='password')
              input#private-key-to-remove-index(type='hidden')
        .modal-footer
          button.button-close-remove-private-key.btn Close
          button#button-remove-private-key.btn.btn-danger(type='button')
            i.icon-trash
            |  Remove Private Key
  #modal-add-private-key.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-add-private-key(type='button',aria-hidden='true')&times;
          h4.modal-title Adding a Private key
        .modal-body
          form.form
            .form-group
              label Master Password
              input#input-add-private-key-password.form-control(type='password')
            .form-group
              label Private key
              textarea#input-add-private-key-key.form-control(placeholder='paste key here', rows=10)
        .modal-footer
          button.button-close-add-private-key.btn Close
          button#button-submit-add-private-key.btn.btn-success(type='button')
            i.icon-ok
            |  Add Private Key
  .container
    h1 crypto-chrome

    h2 Manage public keys
    table.table#public
      thead
        tr
          th Num.
          th Image
          th ID
          th Manage
      tbody
    form.form
      a#add-public-key.btn.btn-success(href='#public-key-modal', data-toggle='modal')
        i.icon-plus
        |  Add Public Key

    h2 Manage private keys
    table.table#private
      thead
        tr
          th Num.
          th Image
          th ID
          th Manage
      tbody
    form.form
      a#add-private-key.btn.btn-success(href='#private-key-modal', data-toggle='modal')
        i.icon-plus
        |  Add Private Key

  script(src="../js/vendor.js")
  script(src="../js/md5.js")
  script(src="../js/background.js")
  script(src="../js/crypto-chrome.js")
  script(src="../js/crypto-settings.js")
