head
  link(rel='stylesheet', href='../css/crypto-style.css')
body
  p Crypt/Decrypt something!
  form.form
    textarea(placeholder="paste text here")
    button.btn Encrypt
    button.btn Decrypt
    button.btn Sign
    button.btn Verify Signature
  script(src="../js/vendor.js")
  script(src="../js/crypto-popup.js")
