head
  link(rel='stylesheet', href='../css/bootstrap.min.css')
  link(rel='stylesheet', href='../css/font-awesome.min.css')
  link(rel='stylesheet', href='../css/crypto-style.css')
body
  #popup-body
    .container
      h1 crypto-chrome
      #popup-message-box
      form.form
        textarea#popup-textarea(placeholder="paste text here",rows='10', cols='42')
      button#button-import-textarea.btn.btn-success
        i.icon-cloud-download
        |  Import from page
      .well.first-well
        .row-fluid
          label
            i.icon-group
            |  Public key (correspondent)
        .row-fluid
          select#public
        .row-fluid.action-buttons
          button#button-encrypt.btn.btn-warning
            i.icon-lock
            |  Encrypt
          button#button-verify.btn.btn-info
            i.icon-check
            |  Verify Signature

      .well
        .row-fluid
          label 
            i.icon-user
            |  Private key (you)
        .row-fluid
          select#private
        .row-fluid.action-buttons
          button#button-decrypt.btn.btn-warning
            i.icon-unlock
            |  Decrypt
          button#button-sign.btn.btn-info
            i.icon-check
            |  Sign
  script(src="../js/vendor.js")
  script(src="../js/background.js")
  script(src="../js/crypto-popup.js")
