head
  link(rel='stylesheet', href='../css/bootstrap.min.css')
  link(rel='stylesheet', href='../css/font-awesome.min.css')
  link(rel='stylesheet', href='../css/crypto-style.css')
body
  #modal-encrypt.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-encrypt(type='button',aria-hidden='true')&times;
          h4.modal-title Encrypt message
        .modal-body
          form#form-encrypt.form
            .form-group
              label Master Password
              input#input-encrypt-master-password.form-control(type='password')
            .form-group
              label Choose a key
              select#select-encrypt-public-key.select-public-key.form-control
        .modal-footer
          button.button-close-encrypt.btn Cancel
          button#button-confirm-encrypt.btn.btn-success 
            i.icon-lock
            |  Encrypt
  #modal-encrypt-sign.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-encrypt-sign(type='button',aria-hidden='true')&times;
          h4.modal-title Encrypt and sign message
        .modal-body
          form#form-encrypt-sign.form
            .form-group
              label Master Password
              input#input-encrypt-sign-master-password.form-control(type='password')
            .form-group
              label Choose an encryption public key
              select#select-encrypt-sign-public-key.select-public-key.form-control
            .form-group
              label Choose a signature private key
              select#select-encrypt-sign-private-key.select-private-key.form-control
            .form-group
              label Enter private key password
              input#input-encrypt-sign-private-password.form-control(type='password')
        .modal-footer
          button.button-close-encrypt-sign.btn Cancel
          button#button-confirm-encrypt-sign.btn.btn-success 
            i.icon-lock
            |  Encrypt &amp; Sign
  #modal-decrypt-verify.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-decrypt-verify(type='button',aria-hidden='true')&times;
          h4.modal-title Decrypt and verify message
        .modal-body
          form#form-decrypt-verify.form
            .form-group
              label Master Password
              input#input-decrypt-verify-master-password.form-control(type='password')
            .form-group
              label Choose a decryption private key
              select#select-decrypt-verify-private-key.select-private-key.form-control
            .form-group
              label Enter private key password
              input#input-decrypt-verify-private-password.form-control(type='password')
            .form-group
              label Choose a verification public key
              select#select-decrypt-verify-public-key.select-public-key.form-control
        .modal-footer
          button.button-close-decrypt-verify.btn Cancel
          button#button-confirm-decrypt-verify.btn.btn-success 
            i.icon-unlock
            |  Decrypt
  #modal-verify.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-verify(type='button',aria-hidden='true')&times;
          h4.modal-title Verify message signature
        .modal-body
          form#form-verify.form
            .form-group
              label Master Password
              input#input-verify-master-password.form-control(type='password')
            .form-group
              label Choose a key
              select#select-verify-public-key.select-public-key.form-control
        .modal-footer
          button.button-close-verify.btn Cancel
          button#button-confirm-verify.btn.btn-success 
            i.icon-check
            |  Verify
  #modal-sign.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-sign(type='button',aria-hidden='true')&times;
          h4.modal-title Sign message
        .modal-body
          form#form-sign.form
            .form-group
              label Master Password
              input#input-sign-master-password.form-control(type='password')
            .form-group
              label Choose a private key
              select#select-sign-private-key.select-private-key.form-control
            .form-group
              label Enter private key password
              input#input-sign-private-password.form-control(type='password')
        .modal-footer
          button.button-close-sign.btn Cancel
          button#button-confirm-sign.btn.btn-success 
            i.icon-check
            |  Sign
  #modal-decrypt.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-decrypt(type='button',aria-hidden='true')&times;
          h4.modal-title Decrypt message
        .modal-body
          form#form-decrypt.form
            .form-group
              label Master Password
              input#input-decrypt-master-password.form-control(type='password')
            .form-group
              label Choose a private key
              select#select-decrypt-private-key.select-private-key.form-control
            .form-group
              label Enter private key password
              input#input-decrypt-private-password.form-control(type='password')
        .modal-footer
          button.button-close-decrypt.btn Cancel
          button#button-confirm-decrypt.btn.btn-success 
            i.icon-unlock
            |  Decrypt
  #modal-enter-master-password.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close.button-close-enter-master-password(type='button',aria-hidden='true')&times;
          h4.modal-title Unlock key storage
        .modal-body
          form#form-enter-master-password.form
            .form-group
              label Master Password
              input#input-entered-master-password.form-control(type='password')
        .modal-footer
          button.button-close-enter-master-password.btn Cancel
          button#button-confirm-enter-master-password.btn.btn-success 
            i.icon-ok
            |  Unlock
  #popup-body
    .container
      h2 crypto-chrome
      #verification-box
        p#verification-success.text-success.hidden
          i.icon-ok-sign
          | Message has been successfully verified.
        p#verification-failure.text-danger.hidden
          i.icon-remove-sign
          | Message verification has failed.
      #popup-message-box
      form.form
        textarea#popup-textarea(placeholder="paste text here",rows='8', cols='52')
      button#button-import-textarea.btn.btn-primary.btn-small.text-center
        i.icon-cloud-download
        |  Import from page
      button#button-import-message-textarea.btn.btn-primary.btn-small.text-center
        i.icon-cloud-download
        |  Import last message
      .actions
        .well
            button#button-encrypt.btn.btn-block.btn-default.btn-small
              i.icon-lock
              |  Encrypt
            button#button-sign.btn.btn-block.btn-default.btn-small
              i.icon-check
              |  Sign
            button#button-encrypt-sign.btn.btn-block.btn-default.btn-small
              i.icon-lock
              |  Encrypt &amp; Sign
        .well    
            button#button-decrypt.btn.btn-block.btn-default.btn-small
              i.icon-unlock
              |  Decrypt
            button#button-verify.btn.btn-block.btn-default.btn-small
              i.icon-check
              |  Verify
            button#button-decrypt-verify.btn.btn-block.btn-default.btn-small
              i.icon-unlock
              |  Decrypt &amp; Verify
  script(src="../js/vendor.js")
  script(src="../js/background.js")
  script(src="../js/crypto-chrome-engine.js")
  script(src="../js/crypto-popup.js")
